<h1> Результат работы</h1>

<table>
<% # вывод введеннй последовательности%>
<tr>
<td> Введенная последовательность </td>
<td> <%= @input %> </td>
</tr>

<% # вывод всевозможных подпоследовательностей%>
<% @result[0].each do |x| %>
      <tr>
      <td> подпоследовательность </td>
      <td> <%= x.join(' ') %> </td>
      </tr>
<% end %>

<tr>
<td> Максимальная подпоследовательность </td>
<td> <%= !@result[1].length.zero?? @result[1]:"Нет максимальной " %> </td>
</tr>
</table>
<h1> <%= link_to 'вернуться обратно', root_path %>  </h1>